.homeIndicator1 {
  position: absolute;
  bottom: 12.51px;
  left: calc(50% - 100.4px);
  border-radius: var(--br-131xl);
  background-color: var(--label-color-light-primary);
  width: 201px;
  height: 7.5px;
}
.homeIndicator {
  position: absolute;
  height: 3.52%;
  width: 95.42%;
  top: 96.48%;
  right: 2.04%;
  bottom: 0;
  left: 2.54%;
}
.statusbarIcon {
  position: absolute;
  top: 0;
  left: 13.5px;
  width: 562.5px;
  height: 66px;
}
.availableBalance {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.balance {
  position: absolute;
  top: 181.5px;
  left: 199.5px;
  width: 194px;
  height: 32px;
  text-align: center;
  font-size: var(--font-size-2xl);
  font-family: var(--font-poppins);
}
.verifiablePresentationChild {
  position: absolute;
  top: 81px;
  left: 1.5px;
  border-radius: var(--br-26xl) var(--br-26xl) 0 0;
  background-color: var(--color-gray-700);
  width: 589.5px;
  height: 1225.5px;
}
.verifiablePresentation1 {
  position: absolute;
  top: 123px;
  left: 28.5px;
  font-size: var(--font-size-8xl);
  font-weight: 500;
  font-family: var(--font-poppins);
  text-align: center;
}
.iconlyboldpaper,
.image13Icon {
  position: absolute;
  top: 790.5px;
  left: 384px;
  width: 24px;
  height: 24px;
}
.image13Icon {
  top: 1.5px;
  left: 307.5px;
  width: 60px;
  height: 79.5px;
  object-fit: cover;
}
.identi {
  position: absolute;
  top: 18px;
  left: 210px;
  font-family: var(--font-roboto);
  display: inline-block;
  width: 343.5px;
  height: 73.5px;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1.5px #000;
}
.verifiablePresentationItem {
  position: absolute;
  top: 199.5px;
  left: 25.5px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
  border: 1.5px solid var(--color-snow-100);
  box-sizing: border-box;
  width: 540px;
  height: 960px;
}
.driversLicense {
  position: absolute;
  top: 213px;
  left: 45px;
  font-size: var(--font-size-8xl);
  font-weight: 500;
  font-family: var(--font-poppins);
  display: inline-block;
  width: 259.5px;
  height: 34.5px;
}
.credentials {
  position: absolute;
  top: 1240.5px;
  left: 132px;
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--color-darkgreen);
}
.birthDate,
.name {
  font-size: var(--font-size-lgi-5);
  text-decoration: underline;
}
.name {
  position: absolute;
  top: 337.5px;
  left: 51px;
  font-weight: 600;
}
.birthDate {
  top: 435px;
}
.address,
.birthDate,
.driversLicenseNumber {
  position: absolute;
  left: 51px;
  font-weight: 600;
}
.address {
  top: 532.5px;
  font-size: var(--font-size-lgi-5);
  text-decoration: underline;
}
.driversLicenseNumber {
  top: 652.5px;
}
.driversLicenseNumber,
.height,
.issueDate {
  font-size: var(--font-size-lgi-5);
  text-decoration: underline;
}
.height {
  position: absolute;
  top: 747px;
  left: 51px;
  font-weight: 600;
}
.issueDate {
  top: 843px;
}
.black,
.div,
.div1,
.div2,
.hairColor,
.issueDate {
  position: absolute;
  left: 51px;
  font-weight: 600;
}
.hairColor {
  top: 943.5px;
  font-size: var(--font-size-lgi-5);
  text-decoration: underline;
}
.black,
.div,
.div1,
.div2 {
  top: 687px;
}
.black,
.div1,
.div2 {
  top: 781.5px;
}
.black,
.div2 {
  top: 877.5px;
}
.black {
  top: 975px;
  left: 52.5px;
}
.vectorIcon,
.verifiablePresentationChild1,
.verifiablePresentationInner {
  position: absolute;
  top: 422.25px;
  left: 48px;
  width: 501px;
  height: 1.5px;
}
.vectorIcon,
.verifiablePresentationChild1 {
  top: 521.25px;
  left: 45px;
}
.verifiablePresentationChild1 {
  top: 638.25px;
  left: 48px;
}
.verifiablePresentationChild2,
.verifiablePresentationChild3 {
  position: absolute;
  top: 734.25px;
  left: 48px;
  width: 501px;
  height: 1.5px;
}
.verifiablePresentationChild3 {
  top: 824.25px;
  left: 51px;
}
.verifiablePresentationChild4,
.verifiablePresentationChild5 {
  position: absolute;
  top: 932.25px;
  left: 51px;
  width: 501px;
  height: 1.5px;
}
.verifiablePresentationChild5 {
  top: 1035.75px;
  left: 48px;
}
.rectangleDiv,
.rectangleIcon {
  position: absolute;
  border-radius: var(--br-3xl-5);
}
.rectangleIcon {
  top: 1076.25px;
  left: 105.75px;
  width: 207px;
  height: 70.5px;
  cursor: pointer;
}
.rectangleDiv {
  top: 1074px;
  left: 319.5px;
  background-color: #baaa1d;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
  border: 1.5px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 195px;
  height: 58.5px;
}
.continue {
  top: 1081.5px;
  left: 129px;
  color: var(--color-white);
  cursor: pointer;
}
.bobSmith,
.continue,
.decline,
.div3 {
  position: absolute;
  font-weight: 600;
}
.decline {
  top: 1081.5px;
  left: 351px;
  color: var(--color-white);
}
.bobSmith,
.div3 {
  top: 375px;
  left: 53.5px;
  display: inline-block;
  width: 225px;
  height: 48px;
}
.div3 {
  top: 477px;
  left: 51.5px;
  width: 190px;
  height: 44px;
}
.verifiablePresentation {
  position: absolute;
  top: 0;
  left: 0;
  width: 594px;
  height: 1322px;
  overflow: hidden;
}
.image12Icon {
  position: absolute;
  top: 210px;
  left: 418.5px;
  width: 127.5px;
  height: 129px;
  object-fit: cover;
}
.shakedownStreet {
  margin: 0;
}
.shakedownStreetNashvilleContainer {
  position: absolute;
  top: 564px;
  left: 53.5px;
  font-size: var(--font-size-8xl);
  font-weight: 600;
}
.viewCredentials {
  position: relative;
  background: linear-gradient(12.86deg, #005809, #81ed66);
  width: 100%;
  height: 1335px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--label-color-light-primary);
  font-family: var(--font-inter);
}
